/node_modules/*
/node_modules
/node_modules/.cache
package-lock.json
.DS_Store
package-lock.json
/build/*
/build
*.pack

/src/components/program/*.xlsx
/src/components/program/*.py

**/*Zone.Identifier
