.h2-border-bottom {
    border-bottom: 2px solid #e94607;
    margin-bottom: 20px;
}

a {
    color: #e94607;
}

.ul-disc {
    list-style-type: disc;
    list-style-position: inside;
}

.ul-circle {
    list-style-type: circle;
    list-style-position: inside;
}

ol {
    list-style-type: decimal;
    padding-left: 32px;
}

ol li::marker {
    color: #e94607;
}

ul.ul-disc {
    list-style-type: disc;
    font-size: 1.125rem; /* This is the default for lg:text-lg in Tailwind (18px) */
}

p {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}